<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>latitute</th>
            <th>longitute</th>
        </tr>
        {% for add in address %}
            <tr>
                <th>{{add.id}}</th>
                <th>{{add.Address}}</th>
                <th>{{add.x}}</th>
                <th>{{add.y}}</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>